.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  transition: border-bottom .1s ease-in-out;
  /* border-top: 3px solid rgba(30, 196, 58, 0.801) !important; */
  border-top: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
}


.tooltip .tooltiptext {
  visibility: hidden;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  top: 98%;
  right: -36%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

