.react-grid-layout {
  max-width: 100vw;
  margin-right: 10px;
  margin-left: 10px;
}

.react-grid-item, .dark .react-grid-item {
  min-width: 75px; 
  min-height: 0;
}

.react-grid-item {
  background: rgba(141, 117, 117, 0.17);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(141, 117, 117, 0.08);
}

.dark .react-grid-item {
    background: rgba(41, 37, 36, 0.22);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 2px solid rgba(41, 37, 36, 0.034);
}



.react-grid-item.react-grid-placeholder {
  background: none;
  opacity: 0;
  transition-duration: none;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}





.dark textarea {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  /* border: 1px solid hsl(var(--border)); */
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-s,
.react-grid-item > .react-resizable-handle.react-resizable-handle-w,
.react-grid-item > .react-resizable-handle.react-resizable-handle-e,
.react-grid-item > .react-resizable-handle.react-resizable-handle-n,
.react-grid-item > .react-resizable-handle.react-resizable-handle-sw,
.react-grid-item > .react-resizable-handle.react-resizable-handle-nw,
.react-grid-item > .react-resizable-handle.react-resizable-handle-se,
.react-grid-item > .react-resizable-handle.react-resizable-handle-ne {
  opacity: 0;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  bottom: -9px;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-w {
  left: -9px;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  right: -9px;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-n {
  top: -9px;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-sw {
  bottom: -7px;
  left: -7px;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-nw {
  top: -7px;
  left: -7px;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-se {
  bottom: -7px;
  right: -7px;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-ne {
  top: -7px;
  right: -7px;
}

/* .react-grid-item > .react-resizable-handle.react-resizable-handle-s::after,
.react-grid-item > .react-resizable-handle.react-resizable-handle-w::after,
.react-grid-item > .react-resizable-handle.react-resizable-handle-e::after,
.react-grid-item > .react-resizable-handle.react-resizable-handle-n::after {
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-sw::after,
.react-grid-item > .react-resizable-handle.react-resizable-handle-nw::after,
.react-grid-item > .react-resizable-handle.react-resizable-handle-se::after,
.react-grid-item > .react-resizable-handle.react-resizable-handle-ne::after {
}
.react-resizable-handle {
} */