.react-grid-layout {
  max-width: 100vw;
  min-height: calc(100vh - 3.5rem);
}

.react-grid-item {
    min-width: 75px; 
}

textarea {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  /* border: 1px solid hsl(var(--border)); */
  border-radius: var(--radius);
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  resize: none;
}

.dark textarea {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  /* border: 1px solid hsl(var(--border)); */
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-s,
.react-grid-item > .react-resizable-handle.react-resizable-handle-w,
.react-grid-item > .react-resizable-handle.react-resizable-handle-e,
.react-grid-item > .react-resizable-handle.react-resizable-handle-n,
.react-grid-item > .react-resizable-handle.react-resizable-handle-sw,
.react-grid-item > .react-resizable-handle.react-resizable-handle-nw,
.react-grid-item > .react-resizable-handle.react-resizable-handle-se,
.react-grid-item > .react-resizable-handle.react-resizable-handle-ne {
  opacity: 0;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  bottom: -9px;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-w {
  left: -9px;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  right: -9px;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-n {
  top: -9px;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-sw {
  bottom: -7px;
  left: -7px;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-nw {
  top: -7px;
  left: -7px;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-se {
  bottom: -7px;
  right: -7px;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-ne {
  top: -7px;
  right: -7px;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-s::after,
.react-grid-item > .react-resizable-handle.react-resizable-handle-w::after,
.react-grid-item > .react-resizable-handle.react-resizable-handle-e::after,
.react-grid-item > .react-resizable-handle.react-resizable-handle-n::after {
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-sw::after,
.react-grid-item > .react-resizable-handle.react-resizable-handle-nw::after,
.react-grid-item > .react-resizable-handle.react-resizable-handle-se::after,
.react-grid-item > .react-resizable-handle.react-resizable-handle-ne::after {
}
.react-resizable-handle {
}