.react-grid-layout {
    max-width: 100vw;
    /* max-height: 2000px; */
}

.react-grid-item {
    min-width: 75px; 
}

textarea {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  /* border: 1px solid hsl(var(--border)); */
  border-radius: var(--radius);
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  resize: none;
}

.dark textarea {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  /* border: 1px solid hsl(var(--border)); */
}

